{% extends 'admin/base.html' %}
{% load static %}
{% load tz %}
{% block content %}

<div class="pagetitle">
    <h1>User Management</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Home</a></li>
            <li class="breadcrumb-item active">User Management</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Manage Admin Users</h5>
                    <div class="d-flex justify-content-between mb-3">
                        <button type="button" class="btn btn-outline-primary" onclick="toggleFilter()">
                            <i class="bi bi-funnel"></i>
                            <span>Filter</span>
                        </button>
                        <button type="button" class="btn btn-primary view-btn" data-bs-toggle="modal"
                            data-bs-target="#addAdminUserModal">
                            <i class="bi bi-plus-lg"></i>
                            Admin
                        </button>
                    </div>
                    <div class="filter-container" id="filter-container" style="display: none;">
                        <form id="application-filter-form" method="get">
                            <div class="filter-form">
                                <div class="filter-group">
                                    <label for="filter-is-active">Active</label>
                                    <select class="form-select" id="filter-is-active" name="is_active">
                                        <option value="">All</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                                <button class="apply-filter-button" type="submit">
                                    Apply Filters
                                </button>
                                <button class="clear-filter-button" type="button" onclick="clearFiltersAndSubmit('admin_users')">
                                    Clear Filters
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="modal fade" id="addAdminUserModal" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Add Admin User</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="addUserForm" method="post">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="floatingInput"
                                                        name="first_name" placeholder="John">
                                                    <label for="floatingInput">First Name</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="floatingInput"
                                                        name="middle_name" placeholder="Doe">
                                                    <label for="floatingInput">Middle Name</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-floating mb-3">
                                                    <input type="text" class="form-control" id="floatingInput"
                                                        name="last_name" placeholder="Doe">
                                                    <label for="floatingInput">Last Name</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-floating mb-3">
                                                    <input type="email" class="form-control" id="floatingInput"
                                                        name="email" placeholder="name@example.com">
                                                    <label for="floatingInput">Email address</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-floating mb-3">
                                                    <input type="password" class="form-control" id="floatingInput"
                                                        name="password" placeholder="Password">
                                                    <label for="floatingInput">Password</label>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-success" onclick="addUser('Administrator')">
                                        Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered datatable">
                            <thead>
                                <tr>
                                    <th class="align-middle text-center">Name</th>
                                    <th class="align-middle text-center">Email</th>
                                    <th class="align-middle text-center">User Role</th>
                                    <th class="align-middle text-center">Account Created</th>
                                    <th class="align-middle text-center">Last Login</th>
                                    <th class="align-middle text-center">Active</th>
                                    <th class="align-middle text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                <tr>
                                    <td class="align-middle text-center">{{ user.email }}</td>
                                    <td class="align-middle text-center">{{ user.admininformation.first_name|upper }} {{ user.admininformation.last_name|upper }}</td>
                                    <td class="align-middle text-center">{{ user.user_role|upper }}</td>
                                    <td class="align-middle text-center">{{ user.created_at|localtime|date:"F d, Y"|upper }}</td>
                                    <td class="align-middle text-center">{{ user.updated_at|localtime|date:"F d, Y h:i A"|upper }}</td>
                                    <td class="align-middle text-center">
                                        {% if user.is_active %}
                                        <span class="badge bg-success">ACTIVE</span>
                                        {% else %}
                                        {{ user.updated_at|timesince|upper }} AGO
                                        {% endif %}
                                    </td>
                                    <td class="align-middle text-center">
                                        <button class="btn btn-warning btn-sm" onclick="changePassword('{{ user.id }}')" data-bs-toggle="modal"
                                            data-bs-target="#changePasswordModal">
                                            <i class="bi bi-key"></i>
                                        </button>
                                        <div class="modal fade" id="changePasswordModal" tabindex="-1">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Change Password</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form id="changePasswordForm" method="post">
                                                            {% csrf_token %}
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-floating mb-3">
                                                                        <input type="password" class="form-control" id="currentPassword" name="current_password"
                                                                            placeholder="Password" required>
                                                                        <label for="currentPassword">Current Password</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-floating mb-3">
                                                                        <input type="password" class="form-control" id="newPassword" name="new_password"
                                                                            placeholder="Password" required>
                                                                        <label for="newPassword">New Password</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div class="form-floating mb-3">
                                                                        <input type="password" class="form-control" id="confirmPassword" name="confirm_password"
                                                                            placeholder="Password" required>
                                                                        <label for="confirmPassword">Confirm New Password</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <button type="button" class="btn btn-success"
                                                            onclick="submitChangePassword('{{ user.id }}')">Save</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% if user.id != request.user.id %}
                                        {% if not user.deactivated %}
                                        <button class="btn btn-danger btn-sm" onclick="handleActionUser('{{ user.id }}', false)">
                                            <i class="bi bi-person-x"></i>
                                        </button>
                                        {% else %}
                                        <button class="btn btn-success btn-sm" onclick="handleActionUser('{{ user.id }}', true)">
                                            <i class="bi bi-person-check"></i>
                                        </button>                             
                                        {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="8" class="text-center">No users found.</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}