{% extends 'admin/base.html' %}
{% load static %}
{% block content %}
{% include 'admin/partial/side_bar.html' %}
<div class="pagetitle">
    <h1>Application</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Home</a></li>
            <li class="breadcrumb-item active">Application</li>
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Application Overview</h5>
                    <div class="d-flex justify-content-between mb-3">
                        <button type="button" class="btn btn-outline-primary" id="filter-container-btn">
                            <i class="bi bi-funnel"></i>
                            <span>Filter</span>
                        </button>
                        <button type="button" class="btn btn-success" id="approveAllBtn" disabled>
                            <i class="bi bi-check"></i>
                            <span>Approve</span>
                        </button>
                    </div>
                    <div class="filter-container" id="filter-container" style="display: none;">
                        <div class="filter-form">
                            <div class="filter-group">
                                <label for="filter-enrollment-type">Student Level</label>
                                <select class="form-select" id="filter-enrollment-type" name="enrollment_type">
                                    <option value="">All</option>
                                    <option value="JHS">Junior High School</option>
                                    <option value="SHS">Senior High School</option>
                                </select>
                            </div>
                            <div class="filter-group">
                                <label for="filter-grade-level">Grade Level</label>
                                <select class="form-select" id="filter-grade-level" name="grade_level">
                                    <option value="">All</option>
                                    <option value="7">GRADE 7</option>
                                    <option value="8">GRADE 8</option>
                                    <option value="9">GRADE 9</option>
                                    <option value="10">GRADE 10</option>
                                    <option value="11">GRADE 11</option>
                                    <option value="12">GRADE 12</option>
                                </select>
                            </div>
                            <div class="filter-group">
                                <label for="filter-student-type">Student Type</label>
                                <select class="form-select" id="filter-student-type" name="student_type">
                                    <option value="">All</option>
                                    <option value="new student">NEW STUDENT</option>
                                    <option value="transferee">TRANSFEREE</option>
                                    <option value="returning">RETURNING</option>
                                </select>
                            </div>
                            <div class="filter-group">
                                <label for="filter-early-reg">Early Registration</label>
                                <select class="form-select" id="filter-early-reg" name="early_reg">
                                    <option value="">All</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <button class="clear-filter-button" type="button" id="clearFilters">
                                Clear Filters
                            </button>
                        </div>
                    </div>
                    <table class="table table-striped table-hover table-bordered my-3" id="applicationTable">
                        <thead>
                            <tr>
                                <th data-sortable="false" class="text-center">
                                    <input class="form-check-input" type="checkbox" id="checkAll">
                                </th>
                                <th>Application ID</th>
                                <th>Student Name</th>
                                <th>Student Type</th>
                                <th>Grade Level</th>
                                <th>General Average</th>
                                <th>Date</th>
                                <th>Document</th>
                                <th>Form</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody></tbody> 
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="viewApplicationModal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Application Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeButton"></button>
            </div>
            <div class="modal-body">
                <form id="enrollmentForm" disabled>
                    {% csrf_token %}
                    <div id="enrollemnt_jhs"></div>
                    <div id="enrollemnt_shs"></div>
                    <div class="learner_information">
                        <h5>Learner's Information</h5>
                        <input type="hidden" id="id" name="id">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="psa_no" class="form-label">PSA Birth Certificate No.</label>
                                    <input type="text" class="form-control text-uppercase" id="psa_no" name="psa_no" disabled>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="lrn" class="form-label">Learner Reference No.</label>
                                    <input type="text" class="form-control text-uppercase" id="lrn" name="lrn" disabled>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="first_name" class="form-label">First Name</label>
                                    <input type="text" class="form-control text-uppercase" id="first_name" name="first_name" disabled>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="middle_name" class="form-label">Middle Name</label>
                                    <input type="text" class="form-control text-uppercase" id="middle_name" name="middle_name" disabled>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="last_name" class="form-label">Last Name</label>
                                    <input type="text" class="form-control text-uppercase" id="last_name" name="last_name" disabled>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="extension_name" class="form-label">Extension Name</label>
                                    <input type="text" class="form-control text-uppercase" id="extension_name" name="extension_name" disabled>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="birth_date" class="form-label">Birth Date</label>
                                    <input type="date" class="form-control" id="birth_date" name="birth_date" disabled>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="age" class="form-label">Age</label>
                                    <input type="number" class="form-control" id="age" name="age" disabled>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="gender" class="form-label">Gender</label>
                                    <select class="form-select form-control" id="gender" name="gender" disabled>
                                        <option value="MALE">MALE</option>
                                        <option value="FEMALE">FEMALE</option>
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="place_of_birth" class="form-label">Place of Birth (Municipality/City)</label>
                                    <input type="text" class="form-control text-uppercase" id="place_of_birth" name="place_of_birth" disabled>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="mother_tongue" class="form-label">Mother Tongue</label>
                                    <input type="text" class="form-control text-uppercase" id="mother_tongue" name="mother_tongue" disabled>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="documentForm">
                        <h5>Document Submitted</h5>
                        {% for document in documents %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="document-{{ document.id }}" 
                            name="documents" value="{{ document.id }}" disabled>
                            <label class="form-check-label" for="document-{{ document.id }}">{{ document.document_name }} 
                                {% if document.is_required %}
                                    <span class="text-danger">(Required)</span>
                                {% else %}
                                    <span>(Optional)</span>
                                {% endif %}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="editButton">Edit</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="closeButton">Close</button>
                <button type="button" class="btn btn-success" id="saveButton" style="display: none;">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="pendingApplicationModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="pendingApplicationForm">
                <div class="modal-header">
                    <h5 class="modal-title">Reason for Pending</h5>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="application_id" id="application_id">
                    <textarea id="message_pending" class="form-control" rows="4" name="message_pending"
                        placeholder="Enter reason for pending"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger" id="pendingButton">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="{% static 'js/admin/application.js' %}"></script>
{% endblock %}