{% extends 'admin/base.html' %}
{% block content %}
{% include 'admin/partial/side_bar.html' %}
<div class="pagetitle">
    <h1>Application</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin_dashboard' %}">Home</a></li>
            <li class="breadcrumb-item active">Application</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <!-- content -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Application Approved</h5>
                    <div class="d-flex justify-content-start mb-3">
                        <button type="button" class="btn btn-outline-primary" onclick="toggleFilter()">
                            <i class="bi bi-funnel"></i>
                            <span>Filter</span>
                        </button>
                    </div>
                    <div class="filter-container" id="filter-container" style="display: none;">
                        <form id="application-filter-form" method="get">
                            <div class="filter-form">
                                <div class="filter-group">
                                    <label for="filter-grade-level">Grade Level</label>
                                    <select class="form-select" id="filter-grade-level" name="grade_level">
                                        <option value="">All</option>
                                        <option value="7">Grade 7</option>
                                        <option value="8">Grade 8</option>
                                        <option value="9">Grade 9</option>
                                        <option value="10">Grade 10</option>
                                        <option value="11">Grade 11</option>
                                        <option value="12">Grade 12</option>
                                    </select>
                                </div>
                                <div class="filter-group">
                                    <label for="filter-student-type">Student Type</label>
                                    <select class="form-select" id="filter-student-type" name="student_type">
                                        <option value="">All</option>
                                        <option value="New Student">New Student</option>
                                        <option value="Transferee">Transferee</option>
                                        <option value="Returnee">Returnee</option>
                                    </select>
                                </div>
                                <div class="filter-group">
                                    <label for="filter-early-reg">Early Registration</label>
                                    <select class="form-select" id="filter-early-reg" name="early_reg">
                                        <option value="">All</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                                <button class="apply-filter-button" type="submit">
                                    Apply Filters
                                </button>
                                <button class="clear-filter-button" type="button" onclick="clearFiltersAndSubmit('application_approved')">
                                    Clear Filters
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered datatable">
                            <thead>
                                <tr>
                                    <th class="align-middle text-center">Application ID</th>
                                    <th class="align-middle text-center">Student Name</th>
                                    <th class="align-middle text-center">Enrollment Type</th>
                                    <th class="align-middle text-center">Grade Level</th>
                                    <th class="align-middle text-center align-middle text-center">General Average</th>
                                    <th data-sortable="false" class="align-middle text-center">Student Type</th>
                                    <th class="align-middle text-center">Date</th>
                                    <th data-sortable="false" class="align-middle text-center">Document</th>
                                    <th data-sortable="false" class="align-middle text-center">Form</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for application in application_approved %}
                                <tr id="application-row-{{ application.enrollment.id }}">
                                    <td class="align-middle text-center">{{ application.enrollment.application_no }}</td>
                                    <td class="align-middle text-center">{{ application.enrollment.first_name }} {{ application.enrollment.last_name }}</td>
                                    <td class="align-middle text-center">{{ application.enrollment.enrollment_type }}</td>
                                    <td class="application-grade-level align-middle text-center">{{ application.enrollment.grade_level }}</td>
                                    <td class="application-gen-avg align-middle text-center">{{ application.enrollment.gen_avg }}</td>
                                    <td class="application-student-type align-middle text-center">{{ application.enrollment.student_type }}</td>
                                    <td class="align-middle text-center">{{ application.enrollment.created_at|date:"Y-m-d" }}</td>
                                    <td class="align-middle text-center">
                                        {% if application.enrollment.status == "Complete" %}
                                        <span
                                            class="badge bg-success application-status">{{application.enrollment.status|upper}}</span>
                                        {% elif application.enrollment.status == "Missing" %}
                                        <span
                                            class="badge bg-danger application-status">{{application.enrollment.status|upper}}</span>
                                        {% endif %}
                                    </td>
                                    <td class="align-middle text-center">
                                        <button type="button" class="btn btn-primary btn-sm view-btn" data-bs-toggle="modal"
                                            data-bs-target="#viewApplicationModal" data-type="{{ application.enrollment.enrollment_type }}"
                                            data-id="{{ application.enrollment.id }}" onclick="fetchData('{{ application.enrollment.id }}')">
                                            <i class="bi bi-eye"></i>
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="modal fade" id="viewApplicationModal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Application Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeButton"></button>
            </div>
            <div class="modal-body">
                <form id="enrollmentForm" method="post" action="{% url 'junior_enrollment' %}" disabled>
                    {% csrf_token %}
                    <div id="enrollemnt_jhs"></div>
                    <div id="enrollemnt_shs"></div>
                    <div class="learner_information">
                        <h5>Learner's Information</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="psa_no" class="form-label">PSA Birth Certificate No.</label>
                                    <input type="text" class="form-control text-uppercase" id="psa_no" name="psa_no" disabled>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="lrn" class="form-label">Learner Reference No.</label>
                                    <input type="text" class="form-control text-uppercase" id="lrn" name="lrn" disabled>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="first_name" class="form-label">First Name</label>
                                    <input type="text" class="form-control text-uppercase" id="first_name" name="first_name" disabled>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="middle_name" class="form-label">Middle Name</label>
                                    <input type="text" class="form-control text-uppercase" id="middle_name" name="middle_name" disabled>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="last_name" class="form-label">Last Name</label>
                                    <input type="text" class="form-control text-uppercase" id="last_name" name="last_name" disabled>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="extension_name" class="form-label">Extension Name</label>
                                    <input type="text" class="form-control text-uppercase" id="extension_name" name="extension_name" disabled>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="birth_date" class="form-label">Birth Date</label>
                                    <input type="date" class="form-control" id="birth_date" name="birth_date" disabled>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="age" class="form-label">Age</label>
                                    <input type="number" class="form-control" id="age" name="age" disabled>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="gender" class="form-label">Gender</label>
                                    <select class="form-select form-control" id="gender" name="gender" disabled>
                                        <option value="MALE">MALE</option>
                                        <option value="FEMALE">FEMALE</option>
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="place_of_birth" class="form-label">Place of Birth (Municipality/City)</label>
                                    <input type="text" class="form-control text-uppercase" id="place_of_birth" name="place_of_birth" disabled>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="mother_tongue" class="form-label">Mother Tongue</label>
                                    <input type="text" class="form-control text-uppercase" id="mother_tongue" name="mother_tongue" disabled>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form id="documentForm">
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}