<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'assessment_view' %}active{% else %}collapsed{% endif %}"
                href="{% url 'assessment_view' %}">
                <i class="bi bi-pen"></i>
                <span>Assessment</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link {% if 'student_unassigned_list' in request.resolver_match.url_name|default:'' %}active{% else %}collapsed{% endif %}"
                data-bs-target="#student-unassigned-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-card-list"></i><span>Student Unassigned List</span><i
                    class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="student-unassigned-nav"
                class="nav-content collapse {% if 'student_unassigned_list' in request.resolver_match.url_name|default:'' %}show{% endif %}"
                data-bs-parent="#sidebar-nav">
                <li class="nav-item">
                    <a href="{% url 'student_unassigned_list_grade_7' %}"
                        class="{% if request.resolver_match.url_name == 'student_unassigned_list_grade_7' %}active{% endif %}">
                        <i class="bi bi-circle"></i><span>Grade 7</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'student_unassigned_list_grade_8' %}"
                        class="{% if request.resolver_match.url_name == 'student_unassigned_list_grade_8' %}active{% endif %}">
                        <i class="bi bi-circle"></i><span>Grade 8</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'student_unassigned_list_grade_9' %}"
                        class="{% if request.resolver_match.url_name == 'student_unassigned_list_grade_9' %}active{% endif %}">
                        <i class="bi bi-circle"></i><span>Grade 9</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'student_unassigned_list_grade_10' %}"
                        class="{% if request.resolver_match.url_name == 'student_unassigned_list_grade_10' %}active{% endif %}">
                        <i class="bi bi-circle"></i><span>Grade 10</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'student_unassigned_list_grade_11' %}"
                        class="{% if request.resolver_match.url_name == 'student_unassigned_list_grade_11' %}active{% endif %}">
                        <i class="bi bi-circle"></i><span>Grade 11</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'student_unassigned_list_grade_12' %}"
                        class="{% if request.resolver_match.url_name == 'student_unassigned_list_grade_12' %}active{% endif %}">
                        <i class="bi bi-circle"></i><span>Grade 12</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if 'grade_level' in request.resolver_match.url_name|default:'' %}active{% else %}collapsed{% endif %}"
                data-bs-target="#section-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-list-nested"></i><span>Grade Levels</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="section-nav"
                class="nav-content collapse {% if 'grade_level' in request.resolver_match.url_name|default:'' %}show{% endif %}"
                data-bs-parent="#sidebar-nav">
                <li class="nav-item">
                    <a href="{% url 'grade_level_7' %}"
                        class="{% if request.resolver_match.url_name == 'grade_level_7' %}active{% endif %}">
                        <i class="bi bi-circle"></i><span>Grade 7</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'grade_level_8' %}"
                        class="{% if request.resolver_match.url_name == 'grade_level_8' %}active{% endif %}">
                        <i class="bi bi-circle"></i><span>Grade 8</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'grade_level_9' %}"
                        class="{% if request.resolver_match.url_name == 'grade_level_9' %}active{% endif %}">
                        <i class="bi bi-circle"></i><span>Grade 9</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'grade_level_10' %}"
                        class="{% if request.resolver_match.url_name == 'grade_level_10' %}active{% endif %}">
                        <i class="bi bi-circle"></i><span>Grade 10</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'grade_level_11' %}"
                        class="{% if request.resolver_match.url_name == 'grade_level_11' %}active{% endif %}">
                        <i class="bi bi-circle"></i><span>Grade 11</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'grade_level_12' %}"
                        class="{% if request.resolver_match.url_name == 'grade_level_12' %}active{% endif %}">
                        <i class="bi bi-circle"></i><span>Grade 12</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'coordinator_logout' %}active{% else %}collapsed{% endif %}"
                href="{% url 'coordinator_logout' %}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Logout</span>
            </a>
        </li>

        <div class="profile-tab">
            <div class="profile-tab-container">
                <div class="circle-logo">
                    <span>{{ request.user.coordinatorinformation.first_name|slice:":1"|default:"A" }}</span>
                </div>
                <div class="profile-tab-content">
                    <h5>{{ request.user.user_role|default:"Coordinator" }}</h5>
                    <h6>{{ request.user.coordinatorinformation.first_name}} {{ request.user.coordinatorinformation.last_name }} - {{ request.user.coordinatorinformation.position }}</h6>
                </div>
            </div>
        </div>
    </ul>
</aside><!-- End Sidebar-->