{% extends 'base.html' %}

{% block title %}Junior High School Enrollment - TuloyEskwelaPDBNHS{% endblock %}

{% block content %}
<div class="enrollment-banner banner">
    <h1>Junior High School Enrollment</h1>
    <p>Fill out the form below to enroll in Junior High School.</p>
</div>

<section class="enrollment">
    <div class="enrollment-container container">
        {% if user.is_authenticated %}
        <div class="card w-70 mb-3">
            <h5 class="card-header">Junior High School Enrollment Form</h5>
            <div class="card-body p-4">
                <form id="enrollmentForm" method="post" action="{% url 'junior_enrollment' %}">
                    {% csrf_token %}
                    <input type="hidden" name="enrollment_type" value="JHS">
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <input type="hidden" name="user_role" value="{{ user.user_role }}">
                    <input type="hidden" name="application_no" value="{{ application_no }}">
                    <input type="hidden" name="status" value="Missing">
                    <input type="hidden" name="early_reg" value="{{ early_reg }}">
                    <div class="enrollment_information">
                        <h5>Enrollment Information</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="school_year" class="form-label">School Year</label>
                                    <select class="form-select form-control" id="school_year" name="school_year" >
                                        <option value="{{ settings.academic_year_start }}-{{ settings.academic_year_end }}">
                                            {{ settings.academic_year_start }}-{{ settings.academic_year_end }}
                                        </option>
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="grade_level" class="form-label">Grade Level</label>
                                    <select class="form-select form-control" id="grade_level" name="grade_level">
                                        <option value="7">Grade 7</option>
                                        <option value="8">Grade 8</option>
                                        <option value="9">Grade 9</option>
                                        <option value="10">Grade 10</option>
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="student_type" class="form-label">Student Type</label>
                                    <select class="form-select form-control" id="student_type" name="student_type">
                                        <option value="new student">New Student</option>
                                        <option value="returning">Returning (Balik Aral)</option>
                                        <option value="transferee">Transferee</option>
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="gen_avg" class="form-label">General Average</label>
                                    <input type="number" class="form-control" id="gen_avg" name="gen_avg">
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="learner_information">
                        <h5>Learner's Information</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="psa_no" class="form-label">PSA Birth Certificate No.</label>
                                    <input type="text" class="form-control text-uppercase" id="psa_no" name="psa_no" value="{{ info.psa_no }}" readonly>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="lrn" class="form-label">Learner Reference No.</label>
                                    <input type="text" class="form-control text-uppercase" id="lrn" name="lrn" value="{{ info.lrn }}" readonly>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="first_name" class="form-label">First Name</label>
                                    <input type="text" class="form-control text-uppercase" id="first_name" name="first_name" value="{{ info.first_name }}" readonly>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="middle_name" class="form-label">Middle Name</label>
                                    <input type="text" class="form-control text-uppercase" id="middle_name" name="middle_name" value="{{ info.middle_name }}" readonly>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="last_name" class="form-label">Last Name</label>
                                    <input type="text" class="form-control text-uppercase" id="last_name" name="last_name" value="{{ info.last_name }}" readonly>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="extension_name" class="form-label">Extension Name</label>
                                    <input type="text" class="form-control text-uppercase" id="extension_name" name="extension_name" value="{{ info.extension_name }}">
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="birth_date" class="form-label">Birth Date</label>
                                    <input type="date" class="form-control" id="birth_date" name="birth_date">
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="age" class="form-label">Age</label>
                                    <input type="number" class="form-control" id="age" name="age">
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="gender" class="form-label">Gender</label>
                                    <select class="form-select form-control" id="gender" name="gender">
                                        <option value="MALE">MALE</option>
                                        <option value="FEMALE">FEMALE</option>
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="place_of_birth" class="form-label">Place of Birth
                                        (Municipality/City)</label>
                                    <input type="text" class="form-control text-uppercase" id="place_of_birth" name="place_of_birth">
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="mother_tongue" class="form-label">Mother Tongue</label>
                                    <input type="text" class="form-control text-uppercase" id="mother_tongue" name="mother_tongue">
                                    <div class="invalid-feedback"></div>    
                                </div>
                            </div>
                        </div>
                        <div class="accept_terms">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" id="accept_terms" name="accept_terms"
                                >
                                <label for="accept_terms" style="font-weight: 500;">
                                    I hereby certify that the above information given are True and correct to the best
                                    of my knowledge and I allow the Department of Education to use my child's details to
                                    create and/or update his/her learner profile in the Learner Information System. The
                                    information here in shall be treated as confidential in compliance with the Data
                                    Privacy Act of 2012.
                                </label>
                                <div class="invalid-feedback"></div>
                            </div>
                        </div>
                        <div class="d-grid gap-2 col-2 mx-auto">
                            <button class="btn btn-primary" type="submit" id="submitButton">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% else %}
        <p>You need to log in to view this page.</p>
        {% endif %}
    </div>
</section>
<script>
    $(document).ready(function () {
        let $gradeLevelSelect = $("#grade_level");
        let $studentTypeSelect = $("#student_type");
        $gradeLevelSelect.on("change", function () {
            let grade = $(this).val();
            if (grade === "7" || grade === "11") {
                $studentTypeSelect.html(`
                    <option value="new student">New Student</option>
                    <option value="returning">Returning (Balik Aral)</option>
                    <option value="transferee">Transferee</option>
                `);
            } else {
                $studentTypeSelect.html(`
                    <option value="returning">Returning (Balik Aral)</option>
                    <option value="transferee">Transferee</option>
                `);
            }
        });
    });
    $(document).ready(function () {
        $("#birth_date").on("change", function () {
            let birthDateVal = $(this).val();
            if (birthDateVal) {
                let birthDate = new Date(birthDateVal);
                let today = new Date();

                if (birthDate > today) {
                    $("#age").val(0);
                    return;
                }

                let age = today.getFullYear() - birthDate.getFullYear();
                let monthDiff = today.getMonth() - birthDate.getMonth();
                let dayDiff = today.getDate() - birthDate.getDate();

                if (monthDiff < 0 || (monthDiff === 0 && dayDiff < 0)) {
                    age--;
                }
                $("#age").val(age);
            } else {
                $("#age").val("");
            }
        });
    });
</script>
{% endblock %}