{% extends 'base.html' %}

{% block content %}
<div class="enrollment-banner banner">
    <h1>Senior High School Enrollment</h1>
    <p>Fill out the form below to enroll in Junior High School.</p>
</div>

<section class="enrollment">
    <div class="enrollment-container container">
        {% if user.is_authenticated %}
        <div class="card w-70 mb-3">
            <h5 class="card-header">Senior High School Enrollment Form</h5>
            <div class="card-body p-4">
                <form id="enrollmentForm" method="post" action="{% url 'senior_enrollment' %}">
                    {% csrf_token %}
                    <input type="hidden" name="enrollment_type" value="SHS">
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <input type="hidden" name="user_role" value="{{ user.user_role }}">
                    <input type="hidden" name="application_no" value="{{ application_no }}">
                    <input type="hidden" name="status" value="Missing">
                    <input type="hidden" name="early_reg" value="{{ early_reg }}">
                    <div class="enrollment_information">
                        <h5>Enrollment Information</h5>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="school_year" class="form-label">School Year</label>
                                    <select class="form-select form-control" id="school_year" name="school_year" required>
                                        <option value="{{ settings.academic_year_start }}-{{ settings.academic_year_end }}">
                                            {{ settings.academic_year_start }}-{{ settings.academic_year_end }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="grade_level" class="form-label">Grade Level</label>
                                    <select class="form-select form-control" id="grade_level" name="grade_level"
                                        required>
                                        <option value="11">Grade 11</option>
                                        <option value="12">Grade 12</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="semester" class="form-label">Semester</label>
                                    <select class="form-select form-control" id="semester" name="semester" required>
                                        <option value="1st">1st</option>
                                        <option value="2nd">2nd</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="student_type" class="form-label">Student Type</label>
                                    <select class="form-select form-control" id="student_type" name="student_type" required>
                                        <option value="new student">New Student</option>
                                        <option value="returning">Returning (Balik Aral)</option>
                                        <option value="transferee">Transferee</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="gen_avg" class="form-label">General Weighted Average (GWA)</label>
                                    <input type="number" step="0.01" class="form-control" id="gen_avg" name="gen_avg" required value="{{ info.gen_avg|default_if_none:'' }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <label for="science_avg" class="form-label">Science Average</label>
                                    <input type="number" step="0.01" class="form-control" id="science_avg" name="science_avg" oninput="getStrandSelection()" required>
                                </div>
                            </div>  
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <label for="math_avg" class="form-label">Math Average</label>
                                    <input type="number" step="0.01" class="form-control" id="math_avg" name="math_avg" oninput="getStrandSelection()" required>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="mb-3">
                                    <label for="strand" class="form-label">Strand</label>
                                    <select class="form-select form-control" id="strand" name="strand" required>
                                        <option value="">Select strand...</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="learner_information">
                        <h5>Learner's Information</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="psa_no" class="form-label">PSA Birth Certificate No.</label>
                                    <input type="text" class="form-control text-uppercase" id="psa_no" name="psa_no" required value="{{ info.psa_no }}" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="lrn" class="form-label">Learner Reference No.</label>
                                    <input type="text" class="form-control text-uppercase" id="lrn" name="lrn" required value="{{ info.lrn }}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="first_name" class="form-label">First Name</label>
                                    <input type="text" class="form-control text-uppercase" id="first_name" name="first_name" required value="{{ info.first_name }}" readonly>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="middle_name" class="form-label">Middle Name</label>
                                    <input type="text" class="form-control text-uppercase" id="middle_name" name="middle_name" required value="{{ info.middle_name|default_if_none:'' }}" readonly>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="last_name" class="form-label">Last Name</label>
                                    <input type="text" class="form-control text-uppercase" id="last_name" name="last_name" required value="{{ info.last_name }}" readonly>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="extension_name" class="form-label">Extension Name</label>
                                    <input type="text" class="form-control text-uppercase" id="extension_name" name="extension_name" value="{{ info.extension_name|default_if_none:'' }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="birth_date" class="form-label">Birth Date</label>
                                    <input type="date" class="form-control" id="birth_date" name="birth_date" required value="{{ info.birth_date|date:'Y-m-d' }}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="age" class="form-label">Age</label>
                                    <input type="number" class="form-control" id="age" name="age" required value="{{ info.age|default_if_none:'' }}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="gender" class="form-label">Gender</label>
                                    <select class="form-select form-control" id="gender" name="gender" required>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="place_of_birth" class="form-label">Place of Birth
                                        (Municipality/City)</label>
                                    <input type="text" class="form-control text-uppercase" id="place_of_birth"
                                        name="place_of_birth" required value="{{ info.place_of_birth|default_if_none:'' }}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="mother_tongue" class="form-label">Mother Tongue</label>
                                    <input type="text" class="form-control text-uppercase" id="mother_tongue"
                                        name="mother_tongue" required value="{{ info.mother_tongue|default_if_none:'' }}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accept_terms">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" id="accept_terms" name="accept_terms"
                                required>
                            <label class="form-check-label" for="accept_terms" style="font-weight: 500;">
                                I hereby certify that the above information given are true and correct to the best
                                of my knowledge and I allow the Department of Education to use my child's details to
                                create and/or update his/her learner profile in the Learner Information System. The
                                information here in shall be treated as confidential in compliance with the Data
                                Privacy Act of 2012.
                            </label>
                        </div>
                    </div>
                    <div class="d-grid gap-2 col-2 mx-auto">
                        <button class="btn btn-primary" type="submit" id="submitButton">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        {% else %}
        <p>You need to log in to view this page.</p>
        {% endif %}
    </div>
</section>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const gradeLevelSelect = document.getElementById("grade_level");
        const studentTypeSelect = document.getElementById("student_type");
        console.log("Initial selection:", gradeLevelSelect.value);
        gradeLevelSelect.addEventListener("change", function () {
            if (this.value === "7" || this.value === "11") {
                studentTypeSelect.innerHTML = `
                    <option value="new student">New Student</option>
                    <option value="returning">Returning (Balik Aral)</option>
                    <option value="transferee">Transferee</option>
                `;
            } else {
                studentTypeSelect.innerHTML = `
                    <option value="returning">Returning (Balik Aral)</option>
                    <option value="transferee">Transferee</option>
                `;
            }
        });
    });
</script>
{% endblock %}