{% load static %}
<div class="footer container">
    <div class="footer-content">
        <div class="footer-section">
            <div class="logo-2">
                <img src="{% static 'img/logo.png' %}" alt="Logo">
            </div>
            <h3>TuloyEskwelaPDBNHS</h3>
        </div>
        <div class="footer-section text-center">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'announcements' %}">Announcements</a></li>
                <li><a href="{% url 'enrollment' %}">Enrollment</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer-section text-center">
            <h3>Contact</h3>
            <p>#0027 Paso de Blas Street<br>TCL, Paso de Blas<br>pasodeblas.nhs@deped.gov.ph<br>(02) 8398-7897 /
                8806-6446
            </p>
        </div>
    </div>
    <div class="footer-bottom">
        <hr>
        <p>&copy; 2025 TuloyEskwelaPDBNHS. All rights reserved.</p>
    </div>
</div>